---
import productMobile from '../images/image-product-mobile.jpg';
import ProductDescription from './ProductDescription.astro';
import Prices from '../components/Prices.astro';
import CartBtn from '../components/CartBtn.astro';
---

<article>
    <img src={productMobile.src} alt="Bottle of perfume">
    <div class="container">
      <ProductDescription />
      <Prices oldPrice='169.99' newPrice='149.99'/>
      <CartBtn />
    </div>
</article>

<style>
  article {
    background-color: var(--white);
    border-radius: calc((10 / 16) * 1rem);
    overflow: hidden;
    min-width: 300px;
    max-width: 400px;
  }

  .container {
    padding: calc((20 / 16) * 1rem);
  }

  @media only screen and (min-width: 50em) {
    article {
      display: flex;
      max-width: 700px;
    }

    .container {
    padding: calc((40 / 16) * 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc((20 / 16) * 1rem);
  }

    img {
      content: url(../images/image-product-desktop.jpg);
      height: 500px;
    }
}
</style>