<footer>
  <p>Coded by <a href="https://github.com/josh76543210">Josh</a></p>
  <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a></p>
</footer>

<style>
  footer{
    font-size: calc((13 / 16) * 1rem);
    text-align: center;
    padding: calc((10 / 16) * 1rem);
  }

  a:link, a:visited {
    text-decoration: none;
    color: var(--dark-cyan);
    border-bottom: calc((1.5 / 16) * 1rem) solid transparent;
  }

  a:hover, a:active {
    text-decoration: none;
    color: var(--dark-cyan);
    border-bottom: calc((1.5 / 16) * 1rem) solid var(--dark-cyan);
  }
</style>