<p class="perfume">Perfume</p>
<h1>Gabrielle Essence Eau De Parfum</h1>
<p class="description">
  A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
</p>

<style>
  .perfume{
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: calc((10 / 16) * 1rem);
  }

  h1 {
      font-family: 'Fraunces', serif;
      font-weight: 700;
      font-size: calc((32 / 16) * 1rem);
      line-height: 1;
      margin-bottom: calc((10 / 16) * 1rem);
  }

  .description {
    color: var(--dark-grayish-blue);
    margin-bottom: calc((10 / 16) * 1rem);
  }
</style>